@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Bookworm is a user friendly bookstore, dedicated to encourage reading in the younger generation. 
    Bookworm was started by a college student from College of the Ozarks. She spent may hours and long nights
    putting her heart and soul into this website. She also loves books and enjoyes reading any chance she gets. 
    She built this website because of her love for books (also because her E-commerce professor made her
    but that is beside the point). </p>
<p> We hope that you enjoy using this site. </p>

