@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    P.O. Box 125<br />
    Point Lookout, MO 65726-0125<br />
    <abbr title="Phone">P:</abbr>
    816.518.0516
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nakremer2012@gmail.com">nakremer2012@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Bookworm@yahoo.com">Bookworm@yahoo.com</a>
</address>