@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Bookworm!</h1>
    <p class="lead">Check out our new arrivals.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">New Arrivals &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>
            Check out our massive stock of books. There is everything from thrillers, mysteries, and romance.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">See Books &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AudioBooks</h2>
        <p>There is a wide selection of audioBooks avaliable.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">See AudioBooks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>eBooks</h2>
        <p>Have a tablet? Enjoy our eBook selections.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">See ebooks &raquo;</a></p>
    </div>
</div>